<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="'Pizzeria - ' + ${pizza.name}"></title>
    <!-- Blocco per stile bootsrap e css -->
    <th:block th:replace="~{ fragments/fragments :: Style}"></th:block>
  </head>
  <body>
    <header th:replace="~{ fragments/fragments :: header}"></header>
    <main class="text-center overflow-x-hidden" th:object="${pizza}">
      <a th:href="@{/}" class="btn btn-warning mt-5 border-2-danger">
        Torna alla Home
      </a>
      <h1 th:text="*{name}" class="mt-5"></h1>
      <img th:src="*{foto}" alt="#" class="pizzapicDetail mb-3" />
      <h3 th:text="'Descrizione: '+ *{description}"></h3>
      <h4 th:text="'Prezzo: ' + *{price} + ' €'"></h4>
      <a th:href="@{/pizzas/edit/} + *{id}" class="btn btn-warning mb-5"
        >Modifica</a
      >
    </main>
    <footer></footer>
  </body>
</html>
